* {
  font-family: 'Nanum Myeongjo', serif;
}

code, code span {
  font-family: 'Nanum Gothic Coding', monospace;
}

.ditf-link {
  text-decoration: none;
  color: inherit;
}

.ditf-link:hover {
  color: #6c757d;
}