* {
  font-family: 'Nanum Myeongjo', serif;
}

code, pre code, pre code span {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 0.8rem;
}

pre code {
  border-radius: 0.3rem;
}

p code, li code {
  color: #f47067;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.ditf-link {
  text-decoration: none;
  color: inherit;
}

.ditf-link:hover {
  color: #6c757d;
}

article p, article li, article li strong {
  margin-bottom: 1rem;
  line-height: 160%;
}

article a {
  color: inherit;
}

article a:hover {
  color: #6c757d;
}

.pagination a {
  text-decoration: none;
  color: inherit;
}

.page-item .page-link:hover {
  color: #6c757d;
}

.page-item.active .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
}

.page-item.active .page-link:hover {
  color: white;
}
