{% extends 'base.html' %}

{% block header %}
<h3 class="fw-bold border-bottom py-1">
    <a href="#" class="ditf-link">
        {% block title %}새 글{% endblock %}
    </a>
</h3>
{% endblock %}

{% block content %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="my-2">
        <input name="title" id="title" value="{{ request.form['title'] }}"
            placeholder="제목" required class="form-control">
    </div>
    <div class="my-3">
        {% for tag in all_tags %}
        <input type="checkbox" class="btn-check" id="tag-{{ tag['id'] }}"
            name="tag-{{ tag['id'] }}" autocomplete="on">
        <label for="tag-{{ tag['id'] }}"
            class="btn btn-sm btn-outline-secondary text-nowrap">
            {{ tag['title'] }}
        </label>
        {% endfor %}
    </div>
    <div class="my-2">
        <textarea name="body"
            id="mdeditor">{{ request.form['body'] }}</textarea>
    </div>
    <div class="text-end">
        <input type="submit" value="저장"
            class="btn btn-sm btn-outline-secondary text-nowrap">
    </div>
</form>
{% endblock %}