{% extends 'base.html' %}

{% block header %}
<div class="d-flex flex-nowrap align-items-center border-bottom py-1">
    <h3 class="my-0 fw-bold">
        <a href="#" class="ditf-link">
            {% block title %}{{ post['title'] }}{% endblock %}
        </a>
    </h3>
    {% if g.user['id'] == post['author_id'] %}
    <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="삭제" onclick="return confirm(
            '정말 삭제할까요?'
            );" class="btn btn-sm btn-danger mx-2">
    </form>
    <a class="btn btn-sm btn-outline-secondary text-nowrap"
        href="{{ url_for('blog.update', id=post['id']) }}">
        수정
    </a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<p class="my-1 mx-1">
    <a class="ditf-link fw-bold"
        href="{{ url_for('auth.userinfo', id=post['author_id']) }}">
        {{ post['username'] }}
    </a>
    / 작성 {{ post['created'].strftime('%Y.%m.%d') }}
    / 수정 {{ post['modified'].strftime('%Y.%m.%d') }}
    / 조회수 {{ post['views'] }}
</p>
<div class="d-flex flex-wrap align-items-center py-2">
    {% for tag in tags %}
    <a class="btn btn-sm btn-secondary mx-1"
        href="{{ url_for('blog.index', tag_id=tag['id']) }}">
        {{ tag['title'] }}
    </a>
    {% endfor %}
</div>
<article class="my-3">
    {{ body | safe }}
</article>
<hr>
<div id="comments">
    {% for comment in comments %}
    <div id="comment" class="card my-2">
        <div class="card-body">
            <div class="d-flex flex-nowrap align-items-center border-bottom 
            mx-1 py-1">
                <p class="mx-1 my-0">
                    <a href="{{ url_for(
                        'auth.userinfo', id=comment['author_id'])
                    }}" class="ditf-link fw-bold">
                        {{ comment['username'] }}
                    </a>
                    / 작성 {{ comment['created'].strftime('%Y.%m.%d') }}
                </p>
                {% if g.user['id'] == comment['author_id'] %}
                <form action="{{ url_for(
                'blog.delete_comment', id=comment['id'], post_id=post['id']
                ) }}" method="post">
                    <input type="hidden" name="csrf_token"
                        value="{{ csrf_token() }}">
                    <input type="submit" value="삭제"
                        onclick="return confirm('정말 삭제할까요?');"
                        class="btn btn-sm btn-danger mx-2">
                </form>
                {% endif %}
            </div>
            <div class="mx-2 my-3">{{ comment['body'] }}</div>
        </div>
    </div>
    {% endfor %}
</div>
<form method="post"
    action=" {{ url_for('blog.create_comment', post_id=post['id']) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="card my-2">
        <div class="card-body">
            <div class="row px-2">
                {% if g.user %}
                <div class="col-10 col-lg-11 ps-0">
                    <textarea name="body" type="text" class="form-control"
                        placeholder="새 댓글" rows="3"
                        required>{{ request.form['body'] }}</textarea>
                </div>
                <input type="submit" value="저장"
                    class="btn btn-sm btn-outline-secondary col-2 col-lg-1">
                {% else %}
                <div class="col-10 col-lg-11 ps-0">
                    <textarea name="body" type="text" class="form-control"
                        placeholder="댓글을 작성하시려면 로그인해주세요." rows="3"
                        disabled>{{ request.form['body'] }}</textarea>
                </div>
                <input type="submit" value="저장" disabled
                    class="btn btn-sm btn-outline-secondary col-2 col-lg-1">
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}