{% extends 'base.html' %}

{% block header %}
<div class="d-flex flex-nowrap justify-content-between border-bottom py-1">
    <div class="d-flex flex-nowrap align-items-center">
        <h2 class="my-0 fw-bold">
            <a href="#" class="ditf-link">
                {% block title %}Posts{% endblock %}
            </a>
        </h2>
        {% if g.user['id'] == 1 %}
        <a class="btn btn-sm btn-outline-secondary mx-2"
            href="{{ url_for('blog.create') }}">
            New
        </a>
        {% endif %}
    </div>
    <form method="post">
        <div class="d-flex flex-nowrap align-items-center">
            <small class="text-muted text-nowrap mx-2">
                Total {{ total }} posts
            </small>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input name="query" id="query" value="{{ request.form['query'] }}"
                placeholder="Search" required
                class="form-control form-control-sm">
            <button type="submit" value="Search" class="btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="d-flex flex-wrap align-items-center py-2">
    {% for tag in all_tags %}
    {% if tag_id == tag['id'] %}
    <a class="btn btn-sm btn-secondary mx-1" href="{{ url_for('blog.index') }}">
        {{ tag['title'] }}
    </a>
    {% else %}
    <a class="btn btn-sm btn-outline-secondary mx-1"
        href="{{ url_for('blog.index', tag_id=tag['id']) }}">
        {{ tag['title'] }}
    </a>
    {% endif %}
    {% endfor %}
</div>
{% for post, total_comment in zip(posts, total_comments) %}
<article class="my-2">
    <div class="d-flex flex-nowrap align-items-end">
        <h4 class="my-0">
            <a href="{{ url_for('blog.detail', id=post['id'])}}"
                class="ditf-link">
                {{ post['title'] }}
            </a>
        </h4>
        <a href="{{ url_for('blog.detail', id=post['id'], _anchor='comments')}}"
            class="ditf-link">
            ({{ total_comment }})
        </a>
    </div>
    <p class="fst-italic">
        by
        <a class="ditf-link fw-bold"
            href="{{ url_for('auth.userinfo', id=post['author_id']) }}">
            {{ post['username'] }}
        </a>
        on {{ post['created'].strftime('%Y/%m/%d') }}, {{ post['views'] }} views
    </p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
<div class="d-flex justify-content-center">
    {{ pagination.links | safe }}
</div>
{% endblock %}