{% extends 'base.html' %}

{% block header %}
<div class="d-flex flex-nowrap align-items-center border-bottom py-1">
    <h2 class="my-0 fw-bold">
        {% block title %}Posts{% endblock %}
    </h2>
    {% if g.user %}
    <a class="btn btn-sm btn-outline-secondary mx-2"
        href="{{ url_for('blog.create') }}">
        New
    </a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% for post in posts %}
<article class="my-3">
    <div class="d-flex flex-nowrap align-items-center py-2">
        <h3 class="my-0">{{ post['title'] }}</h3>
        {% if g.user['id'] == post['author_id'] %}
        <a class="btn btn-sm btn-outline-secondary mx-2 py-0"
            href="{{ url_for('blog.update', id=post['id']) }}">
            Edit
        </a>
        {% endif %}
    </div>
    <p class="fst-italic">
        by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}
    </p>
    {% autoescape false %}<p>{{ post['body'] }}</p>{% endautoescape %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}