{% extends 'base.html' %}

{% block header %}
<div class="d-flex flex-nowrap align-items-center border-bottom py-1">
    <h3 class="my-0 fw-bold">
        <a href="#" class="ditf-link">
            {% block title %}{{ post['title'] }}{% endblock %}
        </a>
    </h3>
    <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="삭제" onclick="return confirm(
            '정말 삭제할까요?'
            );" class="btn btn-sm btn-danger text-nowrap mx-2">
    </form>
</div>
{% endblock %}

{% block content %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="my-2">
        <input name="title" value="{{ request.form['title'] or post['title'] }}"
            required placeholder="제목" class="form-control">
    </div>
    <div class="my-3">
        {% for tag in all_tags %}
        {% if tag['id'] in tag_ids %}
        <input type="checkbox" class="btn-check" id="tag-{{ tag['id'] }}"
            name="tag-{{ tag['id'] }}" checked autocomplete="on">
        {% else %}
        <input type="checkbox" class="btn-check" id="tag-{{ tag['id'] }}"
            name="tag-{{ tag['id'] }}" autocomplete="on">
        {% endif %}
        <label for="tag-{{ tag['id'] }}"
            class="btn btn-sm btn-outline-secondary text-nowrap">
            {{ tag['title'] }}
        </label>
        {% endfor %}
    </div>
    <div class="my-2">
        <textarea name="body"
            id="mdeditor">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <div class="text-end">
        <input type="submit" value="저장"
            class="btn btn-sm btn-outline-secondary text-nowrap">
    </div>
</form>
{% endblock %}