{% extends 'base.html' %}

{% block header %}
<div class="d-flex flex-nowrap align-items-center border-bottom py-1">
    <h3 class="my-0 fw-bold">
        <a href="#" class="ditf-link">
            {% block title %}{{ user['username'] }}{% endblock %}
        </a>
    </h3>
    {% if g.user['id'] == user['id'] %}
    <a class="btn btn-sm btn-outline-secondary text-nowrap mx-2"
        href="{{ url_for('auth.update', id=user['id']) }}">
        수정
    </a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="d-flex flex-nowrap align-items-center my-3 py-1 border-bottom">
    <h5 class="my-0 fw-bold">소개</h5>
</div>
<p class="my-2">{{ about | safe }}</p>
{% endblock %}