{% extends 'base.html' %}

{% block header %}
<div class="d-flex flex-nowrap align-items-center border-bottom py-1">
    <h2 class="my-0 fw-bold">
        <a href="#" class="ditf-link">
            {% block title %}Admin{% endblock %}
        </a>
    </h2>
    <a class="btn btn-sm btn-outline-secondary mx-2"
        href="{{ url_for('admin.view_users') }}">
        Users
    </a>
    <a class="btn btn-sm btn-outline-secondary active"
        href="{{ url_for('admin.view_comments') }}">
        Comments
    </a>
</div>
{% endblock %}

{% block content %}
<table class="table table-sm table-striped table-hover caption-top">
    <caption>Total {{ total }}</caption>
    <thead>
        <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">PostID</th>
            <th scope="col" class="text-center">Username</th>
            <th scope="col" class="text-center">Body</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
        <tr>
            <th scope="row" class="text-center">{{ comment['id'] }}</th>
            <td class="text-center">
                <a class="ditf-link"
                    href="{{ url_for('blog.detail', id=comment['post_id']) }}">
                    {{ comment['post_id'] }}
                </a>
            </td>
            <td class="text-center">{{ comment['username'] }}</td>
            <td class="text-center">{{ comment['body'] }}</td>
            <td class="text-center">
                <form action="{{
                        url_for('admin.delete_comment', id=comment['id'])
                    }}" method="post">
                    <input type="hidden" name="csrf_token"
                        value="{{ csrf_token() }}">
                    <input type="submit" value="Delete"
                        onclick="return confirm('Are you sure?');"
                        class="btn btn-sm btn-danger mx-2">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-center">
    {{ pagination.links | safe }}
</div>
{% endblock %}